@font-face {
    font-family: harryp;
    src: url('font/harryp.TTF');
}

.custom {
    cursor: url(images/wand3.png), auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: harryp;
    color: rgb(223, 190, 83);
    font-size: 90px;
    text-align: center;
}

.title {
    font-family: harryp;
    color: rgb(223, 190, 83);
    font-size: 7vw;
    text-align: center;
}

header {
    position: relative;
}

.Ravenclaw,
.Hufflepuff,
.Gryffindor,
.Slytherin {
    background-repeat: no-repeat;
    background-position: left 60px center;
    background-size: 110px;
    padding-top: 15px;
}

.Ravenclaw {
    background-image: url("images/ravenclaw.png");
}

.Hufflepuff {
    background-image: url("images/hufflepuff.png");
}

.Gryffindor {
    background-image: url("images/gryffindor.png");
}

.Slytherin {
    background-image: url("images/slytherin.png");
}

header ul {
    border-bottom: 1px solid rgb(223, 190, 83);
    list-style-type: none;
    padding: 5px 25px 0 0;
    margin-right: 15px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: inline-block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    color: rgb(223, 190, 83);
}

li a:hover {
    color: rgb(80, 13, 22);
    text-decoration: none;
}

.main-content {
    padding-top: 10px;
}

.sidebar {
    color: rgb(223, 190, 83);
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

h4 {
    font-weight: 700;
}

.label {
    font-size: 18px;
    color: rgb(223, 190, 83);
}

.games-played,
.attempts,
.accuracy {
    padding-bottom: 25px;
}

.games-played h4,
.game-info h4 {
    font-family: harryp;
    font-size: 30px;
    padding-bottom: 25px;
}

#reset-btn {
   background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
}

.gameboard {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.card_container {
    width: 85%;
    margin: 0 auto;
}

.game-card {
    text-align: left;
    width: 13%;
    display: inline-block;
    position: relative;
    margin: 1%;
}

.back {
    border-radius: 7%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(223, 190, 83);
    border-radius: 7%;
}

.back img,
.front img {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(223, 190, 83);
    border-radius: 7%;
}

.hide {
    display: none;
}

.close {
    color: white;
}

.a {
    width: 500px;
    height: 262px;
    background-image: url(images/snitchTransGif.gif);
    position: fixed;
    z-index: 1;
}

/* non bootstrap modal */

.modalShadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.mainModal {
    height: 75%;
    width: 75%;
    position: fixed;
    background-color: white;
    background-image: url(images/hogwartsEmblem.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: black;
    text-align: center;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.winModal {
    height: 75%;
    width: 75%;
    position: fixed;
    background-color: black;
    border: 2px solid rgb(223, 190, 83);
    color: black;
    text-align: center;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainModal h1 {
    color: black;
    text-shadow: rgb(223, 190, 83) 0px 0px 8px;
    font-size: 100px;
}

.mainModal h2 {
    font-family: harryp;
    font-size: 80px;
}

.modalFont {
    font-size: 50px;
    color: #500d16;
    text-shadow: rgb(223, 190, 83) 0px 0px 8px;
}

.openModal.modalShadow.showModal,
.endModal.modalShadow.showModal {
    display: block;
}

.modalHeader {
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}

.soundOn {
    background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
    font-size: 30px;
    
}

.welcome,
.modalH2 {
    padding: 0;
    margin: 0;
}

#chooseHouse {
    margin-top: 25px;
    background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
    width: 12vw;
    text-align: center;
    border-radius: 15px;
    font-size: 36px;
    font-family: harryp;
}

.hat {
    height: 150px;
}

.stone {
    padding-top: 20px;
    padding-right: 15px;
}

.stone-img {
    height: 150px;
}

.right-bar {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.side {
    height: 250px;
}

@media only screen and (max-width: 996px) {
    .sidebar {
        display: block;
    }

    .right-bar {
        display: none;
    }

    .gameboard {
        display: block;
    }

    .attempts,
    .accuracy,
    .games-played,
    .stats {
        display: inline-block;
    }

    .game-info {
        display: inline-block;
    }

    .stone {
        padding: 0;
        display: none;
    }

    .game-card {
        width: 18%;
    }


}
@media only screen and (max-width: 425px) {
    .title {
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .stats {
        text-align: center;
    }
    .games-played,
    .attempts,
    .accuracy {
        margin: 0;
        padding: 0;
    }
    .card_container {
        width: 100%;     
    }

    .game-card {
        width: 48%;
    }

    .Ravenclaw,
    .Hufflepuff,
    .Gryffindor,
    .Slytherin {
        background-position: left 10px bottom;
        background-size: 18%;  
    }
    
.btn-container {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    
}

.soundOn {
height: 40px;

}

#reset-btn {
    height: 40px;
    margin-bottom: 19px;
}
    
}