@font-face {
    font-family: harryp;
    src: url('font/harryp.TTF');
}

.custom {
    cursor: url(images/wand3.png), auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: harryp;
    color: rgb(223, 190, 83);
    font-size: 90px;
    text-align: center;
}

.title {
    font-family: harryp;
    color: rgb(223, 190, 83);
    font-size: 7vw;
    text-align: center;
}

header {
    position: relative;
}

.Ravenclaw,
.Hufflepuff,
.Gryffindor,
.Slytherin {
    background-repeat: no-repeat;
    background-position: left 60px center;
    background-size: 10%;
    padding-top: 15px;
}

.Ravenclaw {
    background-image: url("images/ravenclaw.png");
}

.Hufflepuff {
    background-image: url("images/hufflepuff.png");
}

.Gryffindor {
    background-image: url("images/gryffindor.png");
}

.Slytherin {
    background-image: url("images/slytherin.png");
}

header ul {
    border-bottom: 1px solid rgb(223, 190, 83);
    list-style-type: none;
    padding: 5px 25px 0 0;
    margin-right: 15px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: inline-block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    color: rgb(223, 190, 83);
}

li a:hover {
    color: rgb(80, 13, 22);
    text-decoration: none;
}

.main-content {
    padding-top: 10px;
    position: relative;
}

.sidebar {
    color: rgb(223, 190, 83);
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

h4 {
    font-weight: 700;
}

.stat-title {
    font-family: harryp;
    font-size: 30px;
    margin-bottom: 25px;
}

.label {
    font-size: 18px;
    color: rgb(223, 190, 83);
}

.games-played,
.attempts,
.accuracy {
    padding-bottom: 25px;
}

.games-played h4,
.game-info h4 {
    font-family: harryp;
    font-size: 30px;
    padding-bottom: 25px;
}

#reset-btn {
   background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
    height: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#reset-modal {
    background-color: rgb(80, 13, 22);
     border: 2px solid rgb(223, 190, 83);
     color: rgb(223, 190, 83);
     height: 40px;
     margin-bottom: 20px;
     padding-bottom: 20px;
 }



.gameboard {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.card_container {
    width: 85%;
    margin: 0 auto;
}

.game-card {
    text-align: left;
    width: 13%;
    display: inline-block;
    position: relative;
    margin: 1%;
}

.back {
    border-radius: 7%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(223, 190, 83);
    border-radius: 7%;
}

.back img,
.front img {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(223, 190, 83);
    border-radius: 7%;
}

.hide {
    display: none;
}

.close {
    color: white;
}

.snitch {
    width: 500px;
    height: 262px;
    background-image: url(images/snitchTransGif.gif);
    position: absolute;
    left: 0;
    top: 0;
    
}

.modalShadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.mainModal {
    min-height: 75%;
    width: 75%;
    position: fixed;
    background-color: white;
    background-image: url(images/hogwartsEmblem.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.winModal {
    min-height: 75%;
    width: 75%;
    position: fixed;
    background-color: black;
    border: 2px solid rgb(223, 190, 83);
    color: black;
    text-align: center;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.win {
    color: white;
    font-family: harryp;
    font-size: 30px;
    margin: 0;
}

.mainModal h1 {
    color: black;
    text-shadow: rgb(223, 190, 83) 0px 0px 8px;
    font-size: 8vw;
}

.mainModal h2 {
    font-family: harryp;
    font-size: 6vw;
}

.welcome {
    font-size: 6vw;
}

.openModal.modalShadow.showModal,
.endModal.modalShadow.showModal {
    display: block;
}

.modalHeader {
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}

.soundOn {
    background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
    height: 40px;
    font-size: 30px;
    
}

.soundBtn {
    background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
    height: 50px;
    font-size: 30px;
   
    
}

.welcome,
.modalH2 {
    padding: 0;
    margin: 0;
}

#chooseHouse {
    margin-top: 25px;
    background-color: rgb(80, 13, 22);
    border: 2px solid rgb(223, 190, 83);
    color: rgb(223, 190, 83);
    width: 200px;
    text-align: center;
    border-radius: 15px;
    font-size: 36px;
    font-family: harryp;
}

.hat {
    height: 150px;
}

.stone {
    padding-top: 20px;
    padding-right: 15px;
}

.stone-img {
    height: 150px;
}

.right-bar {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.side {
    height: 325px;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

iframe {
    width: 650px;
    height: 400px;
}

@media only screen and (max-width: 1024px) {
   
    .game-card {
        width: 20%;
        margin: 1%;
    }

    .sidebar {
        display: block;
        width: 100%;
    }

    .gameboard {
        display: block;
        width: 85%;
    }

    .attempts,
    .accuracy,
    .games-played,
    .stats {
        display: inline-block;
    }

    .game-info {
        display: inline-block;
    }

    #reset-btn {
        height: 30px;
        margin-bottom: 12px;
        padding-bottom: 25px;
    }

    .soundOn {
        height: 30px;
        font-size: 20px;
        
    }

    .right-bar {
        display: none;
    }

    
    .attempts,
    .accuracy,
    .games-played,
    .stats {
        display: inline-block;
    }

    .game-info {
        display: inline-block;
    }

    .stats {
        text-align: center;
    }

    .stone {
        display: none;
    }

    #game-area {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    iframe {
        width: 400px;
    }

    .mainModal h1 {
        color: black;
        text-shadow: rgb(223, 190, 83) 0px 0px 8px;
        font-size: 15vw;
    }
    
    .mainModal h2 {
        font-family: harryp;
        font-size: 10vw;
    }


    .Ravenclaw,
    .Hufflepuff,
    .Gryffindor,
    .Slytherin {
        background-position: left 20px bottom;
        background-size: 15%;  
    }

    .soundOn {
        height: 35px;
        font-size: 24px;
        
    }

    #reset-btn {
        height: 30px;
        margin-bottom: 12px;
        padding-bottom: 25px;
    }

    .game-card {
        width: 18%;
        
    }
}

@media only screen and (max-height: 420px) {

    .snitch {
        display: none;
    }

    .mainModal {
        height: 85%;
    }

    .mainModal h1 {
    font-size: 10vw;
    }

    .mainModal h2 {
        font-size: 8vw;
        }
    
    .hat {
        display: none;
    }

    .soundBtn {
        height: 30px;
        font-size: 15px;
        
    }

    #chooseHouse {
        margin-top: 0;
        width: 100px;
        font-size: 24px;
        font-family: harryp;
    }

   
}

/* Landscape ipad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .game-card {
        width: 13%;
        margin: 1%;
    }

}

/* Landscape iphone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

       
    iframe {
        display: none;
    }


    header ul {
        border-bottom: 0;
    }

     .Ravenclaw,
     .Hufflepuff,
     .Gryffindor,
     .Slytherin {
        background-position: left 30px top 10px;
        background-size: 5%;
     }

     .title {
        font-size: 36px;
        margin: 0 auto;
        
    }
    .stats {
        text-align: center;
    }

     .game-card {
        width: 9%;
        
    }

    .btn-container {
        margin: 0;
        float: right;
        padding: 0;
        padding-right: 10px;
        
    }

    .stat-title {
        display: none;
    }

    .mainModal {
        height: 300px;
        width: 75%;
    }

    .hat {
        display: none;
    }

     

}


/* Landscape iphone +*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    iframe {
        display: none;
    }

    
    .game-card {
        width: 13%;
        margin: .5% 1% 1% .5%;
    }

    .games-played,
    .attempts,
    .accuracy {
        margin: 0;
        padding: 0;
        
    }

    .label {
        font-size: 12px;
    }

    .main-content {
        padding-top: 0px;
        margin-top: 0px;
    }

    .btn-container {
        margin: 0;
        padding: 0;
        padding-right: 10px;
        
    }

    .title {
        font-size: 40px;
        margin-bottom: 0px;
    }

    #reset-btn {
        height: 24px;
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 22px;
        vertical-align: bottom;
    }

    .soundOn {
        height: 30px;
        font-size: 20px;
        
        }
  
}
/* Landscape pixel2*/
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 731px) 
  and (orientation: landscape) { 
    iframe {
        display: none;
    }

    header ul {
        border-bottom: 0;
    }

    .title {
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .Ravenclaw,
    .Hufflepuff,
    .Gryffindor,
    .Slytherin {
       background-position: left 30px top 10px;
       background-size: 8%;
    }
    .game-card {
        width: 13%;
        margin: .5% 1% 1% .5%;
    }

    .games-played,
    .attempts,
    .accuracy {
        margin: 0;
        padding: 0;
        
    }

    .label {
        font-size: 12px;
    }

    .main-content {
        padding-top: 0px;
        margin-top: 0px;
    }

    .btn-container {
        margin: 0;
        padding: 0;
        padding-right: 10px;
        
    }

    .title {
        font-size: 40px;
        margin-bottom: 0px;
    }

    #reset-btn {
        height: 24px;
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 22px;
        vertical-align: bottom;
    }

    .soundOn {
        height: 30px;
        font-size: 20px;
        
    }

    .stat-title {
        display: none;
    }
  }

  /* Landscape pixel2 xl*/
@media only screen 
and (min-device-width: 411px) 
and (max-device-width: 823px) 
and (orientation: landscape) { 
  iframe {
      display: none;
  }

  header ul {
      border-bottom: 0;
  }

  .title {
      font-size: 34px;
      margin-top: 0;
      margin-bottom: 0;
  }

  .Ravenclaw,
  .Hufflepuff,
  .Gryffindor,
  .Slytherin {
     background-position: left 30px top 10px;
     background-size: 8%;
  }
  .game-card {
      width: 13%;
      margin: .5% 1% 1% .5%;
  }

  .games-played,
  .attempts,
  .accuracy {
      margin: 0;
      padding: 0;
      
  }

  .label {
      font-size: 12px;
  }

  .main-content {
      padding-top: 0px;
      margin-top: 0px;
  }

  .btn-container {
      margin: 0;
      padding: 0;
      padding-right: 10px;
      
  }

  .title {
      font-size: 40px;
      margin-bottom: 0px;
  }

  #reset-btn {
      height: 24px;
      margin-top: 0;
      margin-bottom: 0px;
      padding-bottom: 22px;
      vertical-align: bottom;
  }

  .soundOn {
      height: 30px;
      font-size: 20px;
      
  }

  .stat-title {
      display: none;
  }
}


/* Landscape iphone 6 7 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    iframe {
        display: none;
    }

    header ul {
        border-bottom: 0;
    }

    .title {
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .Ravenclaw,
    .Hufflepuff,
    .Gryffindor,
    .Slytherin {
       background-position: left 30px top 10px;
       background-size: 8%;
    }
    .game-card {
        width: 13%;
        margin: .5% 1% 1% .5%;
    }

    .games-played,
    .attempts,
    .accuracy {
        margin: 0;
        padding: 0;
        
    }

    .label {
        font-size: 12px;
    }

    .main-content {
        padding-top: 0px;
        margin-top: 0px;
    }

    .btn-container {
        margin: 0;
        padding: 0;
        padding-right: 10px;
        
    }

    .title {
        font-size: 40px;
        margin-bottom: 0px;
    }

    #reset-btn {
        height: 24px;
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 22px;
        vertical-align: bottom;
    }

    .soundOn {
        height: 30px;
        font-size: 20px;
        
    }

    .stat-title {
        display: none;
    }
  
}

/* Landscape iphone 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    iframe {
        display: none;
    }

    #reset-btn {
        height: 24px;
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 22px;
        vertical-align: bottom;
    }

    .soundOn {
        height: 30px;
        font-size: 20px;
        
    }

    .label {
        font-size: 12px;
    }

    .title {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
}



@media only screen and (max-width: 425px) {

    .win {
        padding: 30px;
    }

    .winModal {
        height: 300px;
    }

    iframe {
        display: none;
    }
    .title {
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .stats {
        text-align: center;
    }

    .stat-title {
       display: none;
    }
    .games-played,
    .attempts,
    .accuracy {
        margin: 0;
        padding: 0;
    }
    .card_container {
        width: 100%;     
    }

    .game-card {
        width: 20%;
    }

    .Ravenclaw,
    .Hufflepuff,
    .Gryffindor,
    .Slytherin {
        background-position: left 10px bottom;
        background-size: 15%;  
    }
    
    .btn-container {
        margin: 0;
        padding: 0;
        padding-right: 10px;
        
    }

    .soundOn {
    height: 30px;
    font-size: 20px;

    }

    #reset-btn {
        height: 30px;
        margin-bottom: 12px;
        padding-bottom: 25px;
    }
    
}


/* Portrait iphone x*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .game-card {
        width: 25%;
    }
}

/* Portrait galaxy 5*/
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (orientation: portrait) { 

#game-area {
    padding: 0;
    margin: 0;
}

  .game-card {
        width: 22%;
    }

    .label {
        font-size: 12px;
    }

}