@font-face {
    font-family: harryp;
    src: url('font/harryp.TTF');
}

.custom {
    cursor: url(images/wand3.png), auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-family: harryp;
    color: #dfbe53;
    font-size: 90px;
    text-align: center;
}

header {
    position: relative;
}

.ravenclaw {
    background-image: url("images/ravenclaw.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60px center;
    background-size: 8%;
    padding-top: 15px;
}

.hufflepuff {
    background-image: url("images/hufflepuff.png");
    background-repeat: no-repeat;
    background-position: left 60px center;
    background-size: 110px;
    padding-top: 15px;
}

.gryffindor {
    background-image: url("images/gryffindor.png");
    background-repeat: no-repeat;
    background-position: left 60px center;
    background-size: 110px;
    padding-top: 15px;
}

.slytherin {
    background-image: url("images/slytherin.png");
    background-repeat: no-repeat;
    background-position: left 60px center;
    background-size: 110px;
    padding-top: 15px;
}

header ul {
    border-bottom: 1px solid #dfbe53;
    list-style-type: none;
    padding: 5px 25px 0 0;
    margin-right: 15px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: inline-block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    color: #dfbe53;
}

li a:hover {
    color: #500d16;
    text-decoration: none;
}

.main-content {
    /* border: 1px solid red; */
    padding-top: 10px;
}

.sidebar {
    color: #dfbe53;
    text-align: center;
    /* border: 1px solid red; */
    display: inline-block;
    width: 12vw;
    height: 75vh;
    vertical-align: top;
    margin-left: 25px;
}

h4 {
    font-weight: 700;
}

.label {
    font-size: 18px;
    color: #dfbe53;
}

.games-played,
.attempts,
.accuracy {
    padding-bottom: 25px;
}

.games-played h4,
.game-info h4 {
    font-family: harryp;
    font-size: 30px;
    padding-bottom: 25px;
}

#reset-btn {
    margin-bottom: 25px;
    background-color: #500d16;
    border: 2px solid #dfbe53;
    color: #dfbe53;
}

.gameboard {
    /* border: 1px solid red; */
    display: inline-block;
    width: 72vw;
    height: 75vh;
    margin: 0 auto;
    text-align: center;
}

.card_container {
    /* border: 1px solid lime; */
    width: 85%;
    margin: 0 auto;
}

.game-card {
    text-align: left;
    height: 23vh;
    width: 17vh;
    display: inline-block;
    position: relative;
    margin: 1%;
}

.back {
    /* border: 1px solid #dfbe53; */
    border-radius: 7%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    height: 100%;
    width: 100%;
    border: 1px solid #dfbe53;
    border-radius: 7%;
}

.back img,
.front img {
    height: 100%;
    width: 100%;
    border: 1px solid #dfbe53;
    border-radius: 7%;
}

.hide {
    display: none;
}

.modal-body {
    font-size: 70px;
    font-family: harryp;
    text-align: center;
    text-shadow: black 0px 0px 8px;
    color: white;
    max-height: 90vh;
    /* background-color: black; */
}

/* .modal-body>img {
    width: 100%;
    height: 100%;
} */

.modal-dialog {
    margin: 2.5vh auto;
}

.modal-content {
    max-height: 95vh;
}

.modal-title {
    font-family: harryp;
    text-align: center;
    font-size: 60px;
    background-color: black;
    color: white;
    text-shadow: #dfbe53 0px 0px 8px;
}

.modal-header,
.modal-footer {
    /* background-color: black; */
}

.close {
    color: white;
}

.modalFont {
    font-size: 50px;
    color: #500d16;
    text-shadow: #dfbe53 0px 0px 8px;
}

#chooseHouse {
    background-color: #500d16;
    border: 2px solid #dfbe53;
    color: #dfbe53;
    width: 10vw;
    font-size: 36px;
}

.a {
    width: 500px;
    height: 262px;
    background-image: url(images/snitchTransGif.gif);
    position: fixed;
}